
@model List<TomTom.DataTable.Razor.ActionItem>

@if (Model != null)
{
    @*<ul>
            @foreach (var actionItem in Model)
            {
                <li>
                    <a href="@actionItem.Link" @(!string.IsNullOrWhiteSpace(actionItem.OnClick) ? "onClick=" + actionItem.OnClick : "") class="btn btn-sm">
                        @(actionItem.ActionName ?? AltaSoft.IBank2.WebUI.Resources.SharedResource.ResourceManager.GetString(@actionItem.NameResource))
                    </a>
                </li>
            }
        </ul>*@
    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <div class="btn-group-vertical" role="group">
            @foreach (var actionItem in Model)
            {
                @*<a href="@actionItem.Link" @(!string.IsNullOrWhiteSpace(actionItem.OnClick) ? "onClick=" + actionItem.OnClick : "") class="btn btn-sm btn-success">
                        @(actionItem.ActionName ?? AltaSoft.IBank2.WebUI.Resources.SharedResource.ResourceManager.GetString(@actionItem.NameResource))
                    </a>*@

                <a id="@actionItem.Id" class="btn btn-default btn-sm @actionItem.Icon" href="@actionItem.Link"
                @Html.Raw(!string.IsNullOrWhiteSpace(actionItem.OnClick) ? string.Format(@"onClick=""{0}""", actionItem.OnClick) : "")
                @(actionItem.TargetBlank ? "target='_blank'" : "")>
                @(actionItem.ActionName ?? "")
                </a>
            }
        </div>

    </div>

}
