@using TomTom.DataTable
@model FilterOption<DateTime?>

@{
    Model.OperationType = OperationType.Between;
}

@Html.HiddenFor(m => m.OperationType)


@Html.EditorForModel("DataTable/FilterOption")

<div class="form-group">
    <label>@Model.Text</label>
    <div class="row">
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Val[0], new { @class = "datepicker", placeholder = "From" })
        </div>
        <div class="col-md-offset-1 col-md-5">
            @Html.TextBoxFor(m => m.Val[1], new { @class = "datepicker", placeholder = "To" })
        </div>
    </div>
</div>
