
@{
    ViewBag.Title = "Demos";
}


<a href="@Url.Action("Simple")" class="btn btn-lg btn-primary">Simple</a>
<a href="@Url.Action("RowTypes")" class="btn btn-lg btn-info">RowTypes</a>
<a href="@Url.Action("ActionsDemo")" class="btn btn-lg btn-success">ActionsDemo</a>
<a href="@Url.Action("DetailsDemo")" class="btn btn-lg btn-danger">DetailsDemo</a>
<a href="@Url.Action("Index","AjaxDataTableDemo")" class="btn btn-lg btn-default">AjaxDataTable</a>
